{
    "root": true,
    "plugins": ["wdio", "prettier"],
    "extends": [
        "plugin:wdio/recommended",
        "eslint:recommended",
        "plugin:prettier/recommended"
    ],
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "sourceType": "module",
        "requireConfigFile": false,
        "babelOptions": {
            "plugins": ["@babel/plugin-syntax-import-attributes"]
        }
    },
    "env": {
        "mocha": true,
        "node": true
    },
    "rules": {
        "no-trailing-spaces": "error",
        "eol-last": ["error", "always"],
        "prettier/prettier": "error"
    },
    "ignorePatterns": ["reports/**"]
}